<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>Registration</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form action="" class="register-form">
                <input type="text" name="email" placeholder="Напишіть Ваш e-mail..">
                <input type="password" name="password" placeholder="Напишіть Ваш пароль..">
                <button type="submit" class="register-btn">SEND</button>
            </form>
            <div class="answ-div"></div>
        </div>
    </div>
    <script src="/javascripts/localRegistration
    .js"></script>
</body>
</html>